<div class="home">
    <nav class="dropdown" data-controller="navbar">
        <button class="dropbtn" id="dropbtn" data-action="click->navbar#toggleDropdown"> ⚆ SPIN THE VINYL ⚆</button>
        <div id="myDropdown" class="dropdown-content">
            <ul>
                <li style="list-style-image: url('assets/blue.svg');"><a href="#section1" data-action="click->navbar#scrollToSection" data-section-class="section1">MI PUEBLO NATAL</a></li>
                <li style="list-style-image: url('assets/green.svg');"><a href="#section2" data-action="click->navbar#scrollToSection" data-section-class="section2">TALES OF COLOMBIA</a></li>
                <li style="list-style-image: url('assets/brown.svg');"><a href="#section3" data-action="click->navbar#scrollToSection" data-section-class="section3">BURGER HUNT </a></li>
                <li style="list-style-image: url('assets/beige.svg');"><a href="#section4" data-action="click->navbar#scrollToSection" data-section-class="section4">N.Y STATE OF MIND</a></li>
                <li style="list-style-image: url('assets/grey.svg');"><a href="#section5" data-action="click->navbar#scrollToSection" data-section-class="section5">NEW PAVEMENTS</a></li>
                <li style="list-style-image: url('assets/navy.svg');"><a href="#section6" data-action="click->navbar#scrollToSection" data-section-class="section6">DO ALIENS EXIST</a></li>
                <li style="list-style-image: url('assets/pink.svg');"><a href="#section7" data-action="click->navbar#scrollToSection" data-section-class="section7">MÉXICO LINDO</a></li>
                <li style="list-style-image: url('assets/purple.svg');"><a href="#section8" data-action="click->navbar#scrollToSection" data-section-class="section8">LOOKING FORWARD</a></li>
                <li style="list-style-image: url('assets/red.svg');"><a href="#section9" data-action="click->navbar#scrollToSection" data-section-class="section9">LATEST BEAT</a></li>
            </ul>
        </div>
        <a class="info--link" href="/info">Info</a>
    </nav>

    <section id="scroller" data-target="navbar.section" class="colombia section1">
        <%= image_tag("/assets/blue-rect.png", alt: "blue image", id: "svg", class: "colombia--svg") %>
        <%= image_tag("colombia.png", alt: "image of colombia", id: "png", class: "colombia--image") %>
        <div class="colombia-overlay">
            <div class="colombia-paragraph">
                <p>A lo lejos se ve, mi pueblo natal</p>
                <p>se vienen a mi mente bellos recuerdos</p>
                <p>infancia alegre que yo nunca olvidaré</p>
                <p class="artist">Grupo Niche</p>
            </div>
        </div>
    </section>

    <section class="boris">
        <%= image_tag("/assets/Boris.svg", alt: "Boris svg", class: "boris--image") %>
    </section>

    <section id="scroller" data-target="navbar.section" class="plane section2" data-controller="popup" data-action="click->popup#toggle">
        <%= image_tag("/assets/green-rect.png", alt: "green image", id: "svg", class: "plane--svg") %>
        <%= image_tag("plane.png", alt: "image of plane", id: "png", class: "plane--image") %>
        <div class="popup" id="fullScreenPopup" data-popup-target="popup">
            <span class="close" data-action="click->popup#closePopup">&times;</span>
            <h1 class="">Hola como estas</h1>
        </div>
    </section>



    <section id="scroller" data-target="navbar.section" class="burger section3">
        <%= image_tag("/assets/brown-rect.png", alt: "brown image", id: "svg", class: "burger--svg") %>   
        <%= image_tag("burger.png", alt: "image of a restaurant", id: "png", class: "burger--image") %>   
    </section>

    <section id="scroller" data-target="navbar.section" class="nyc section4">
        <%= image_tag("/assets/beige-rect.png", alt:"beige image", id:"svg", class:"nyc--svg") %>  
        <%= image_tag("nyc.png", alt:"image of nyc", id:"png", class:"nyc--image") %> 
    </section>

    <section id="scroller" data-target="navbar.section" class="bike section5">
        <%= image_tag("/assets/grey-rect.png", alt:"gray image", id:"svg", class:"bike--svg") %> 
        <%= image_tag("bike.png", alt:"image of a bike", id:"png", class:"bike--image") %>
    </section>

    <section id="scroller" data-target="navbar.section" class="earth section6">
        <%= image_tag("/assets/navy-rect.png", alt:"color navy image", id:"svg", class:"earth--svg")%>   
        <%= image_tag("earth.png", alt:"image of the earth", id:"png", class:"earth--image")%> 
    </section>

    <section id="scroller" data-target="navbar.section" class="mexico section7">
        <%= image_tag("/assets/beige-rect.png", alt:"beige image", id:"svg", class:"mexico--svg")%>  
        <%= image_tag("mexico.png", alt:"image of mexico", id:"png", class:"mexico--image")%>
    </section>

    <section id="scroller" data-target="navbar.section" class="agave section8">
        <%= image_tag("/assets/purple-rect.png", alt:"purple image", id:"svg", class:"agave--svg")%>    
        <%= image_tag("agave.png", alt:"image of agave plant", id:"png", class:"agave--image") %>
    </section>

    <section id="scroller" data-target="navbar.section" class="beats section9">
        <%= image_tag("/assets/red-rect.png", alt:"red image", id:"svg", class:"beats--svg")%>  
        <%= image_tag("beats.png", alt:"image of beat machine", id:"png", class:"beats--image")%>
    </section>
</div>

